
.config/mpd/*
!.config/mpd/mpd.conf

.ncmpcpp/*
!.ncmpcpp/config

.weechat/*
!.weechat/weechat.conf

.config/ranger/*
!.config/ranger/rifle.conf

.xmonad/*
!.xmonad/xmonad.hs
!.xmonad/conky/
!.xmonad/scripts/
