Config {
  -- Set font and default foreground/background colors. Note that
  -- the height of xmobar is controlled by the font you use.
  font = "xft:Droid Sans Mono-11",
  bgColor = "#002b36",
  fgColor = "#93a1a1",
  border = NoBorder,

  -- Position is top left, taking up 95% of screen.
  -- You are likely to have to tweak the width here based on the width
  -- of your screen to make it play nicely with stalonetray, which we
  -- want to be taking up the remainer of the space on the right side
  -- of your screen.
  position = TopW L 95,

  -- list of commands which gather information about your system for
  -- presentation in the bar.
  commands = [
    Run MPD ["-t",
      "<artist> - <title> (<lapsed>) <statei> ",
      "--", "-P", "Playing", "-Z", "Paused", "-S", "Stopped"
    ] 10,

    -- Gather weather information
    Run Weather "CYYZ" [
      "-t","YYZ: <tempC>°C","-L","18","-H","30",
      "--normal","#859900",
      "--high","#cb4b16",
      "--low","#268bd2"
    ] 36000,

    -- Gather and format CPU usage information.
    -- If it's above 50%, we consider it high usage and make it red.
    Run Cpu [
      "-H","50",
      "--high","#cb4b16"
    ] 10,

    -- Gather and format memory usage information
    Run Memory [
      "-t","Mem: <usedratio>%"
    ] 10,

    -- Date formatting
    Run Date "%a %b %_d,%l:%M" "date" 10,

    -- Battery information. This is likely to require some customization
    -- based upon your specific hardware. Or, for a desktop you may want
    -- to just remove this section entirely.
    Run Battery [
      "-t", "<acstatus>: <left>%",
      "--",
      "-O", "AC",
      "-o", "Batt",
      "-h", "#859900",
      "-l", "#cb4b16"
    ] 10,

    -- This line tells xmobar to read input from stdin. That's how we
    -- get the information that xmonad is sending it for display.
    Run StdinReader
   ],

   -- Separator character used to wrap variables in the xmobar template
   sepChar = "%",

   -- Alignment separater characer used in the xmobar template. Everything
   -- before this will be aligned left, everything after aligned right.
   alignSep = "}{",

   -- Overall template for the layout of the xmobar contents. Note that
   -- space is significant and can be used to add padding.
   template = "%StdinReader% }{ %mpd% <fc=#b58900>|</fc> %CYYZ% <fc=#b58900>|</fc> %cpu% <fc=#b58900>|</fc> %memory% <fc=#b58900>|</fc> %battery% <fc=#b58900>|</fc> <fc=#ceffac>%date%</fc>   "
}
